* {
    margin: 0;
    padding: 0;
}

div.header {
    background-color: rgb(232, 119, 34);
    width: 90%;
    /* font-size: 30px; */
    padding: 1% 5%;
}

.body {
    width: 100%;
}

.left {
    margin-left: 5%;
    width: 25%;
    float: left;
    background: green;
}

.right {
    margin: 0% 5%;
    width: 60%;
    float: left;
    background: blue;
}

.background {
    /* background-color: rgb(71, 71, 71); */
    background-color: rgb(12, 35, 64);

}

.resultContainer {
    margin: 0% 5%;
    width: 90%;
    float: left;
    background: red;
}

/* TABLE FORMAT */
table,
th,
td {
    border: 1px solid black;
}

#sqlResult table {
    margin: 10px;
    margin: 0 auto; /* center the table horizontally within the container */
}